

<!-- /////////////////////// Forma para radio /////////////////////// -->
<ng-container *ngIf="control.type === 'radio' || control.type === 'checkbox'">
  <mat-divider></mat-divider>
  <h3>Imagen</h3>
  <mat-divider></mat-divider>
  <form
    [formGroup]="radioForm"
    novalidate
  >
    <mat-form-field>
      <input
        matInput
        placeholder="Link de imagen"
        type="text"
        formControlName="link"
      >
    </mat-form-field>
  </form>
</ng-container>

<!-- /////////////////////// Forma para select /////////////////////// -->
<ng-container *ngIf="control.type === 'select'">
  <mat-divider></mat-divider>
  <h3>Flechita select</h3>
  <mat-divider></mat-divider>
  <form
    [formGroup]="selectForm"
    novalidate
  >
    <mat-form-field>
      <input
        matInput
        placeholder="Link de imagen"
        type="text"
        formControlName="link"
      >
    </mat-form-field>
  </form>
</ng-container>

<!-- /////////////////////// Forma para link en a tag /////////////////////// -->
<ng-container *ngIf="control.type === 'a'">
  <form
    [formGroup]="linkForm"
    novalidate
  >
    <mat-form-field>
      <input
        matInput
        placeholder="Link"
        type="text"
        formControlName="link"
      >
    </mat-form-field>
  </form>
</ng-container>

<!-- /////////////////////// Forma para link en iframe /////////////////////// -->
<ng-container *ngIf="control.type === 'iframe'">
  <form
    [formGroup]="iframeForm"
    novalidate
  >
    <mat-form-field>
      <input
        matInput
        placeholder="Link"
        type="text"
        formControlName="src"
      >
    </mat-form-field>
  </form>
</ng-container>

<!-- /////////////////////// Forma para General /////////////////////// -->
<form
  [formGroup]="generalForm"
  novalidate
>

  <mat-form-field
    class="formItem"
    style="width: 100%;"
  >
    <ng-container *ngIf="control.type === 'div'; else noDiv">
      <textarea
        matInput
        placeholder="Texto"
        formControlName="value"
      ></textarea>
    </ng-container>
    <ng-template #noDiv>
      <input
        matInput
        placeholder="Texto"
        type="text"
        formControlName="value"
      >
    </ng-template>
  </mat-form-field>

</form>
