.mainContainer {
  z-index: 1;
  top: 0;
  position: sticky;
}

.spacer {
  flex: 1 1 auto;
}

.icon {
  padding: 0 14px;
}

.menu {
  margin: 0 14px !important;
}

mat-icon {
  outline: none;
  cursor: pointer;
}

.permissions {
  background-color: black;
}

.spacer {
  flex: 1 1 auto;
}

.name {
  letter-spacing: 5px;
}

.toolbar-header {
  position: fixed;
  top: 0px;
  background-color: #eb0029;
  background-repeat: repeat-x;
  background-image: url(../../assets/images/navigation.png);
  background-size: contain;
}
  .logoContainer {
    width: 400px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

img {
  max-width: 100%;
  height: auto;
}

@media all and (max-width: 800px) {
  .name {
    letter-spacing: 0;
  }
}
