form {
  width: 100%;
  overflow: hidden;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
}

.formItem {
  width: 48%;
}

label {
  color: #838383;
  font-size: x-small;
}

input#fondo,
input#color {
  border: 1px dotted lightgray;
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
}
