<div [formGroup]="formGroup">
  <mat-form-field class="formItem">
    <input
      matInput
      placeholder="Ancho"
      type="number"
      formControlName="width"
    >
  </mat-form-field>

  <mat-form-field class="formItem">
    <input
      matInput
      placeholder="Alto"
      type="number"
      formControlName="height"
    >
  </mat-form-field>

  <mat-form-field class="formItem">
    <input
      matInput
      placeholder="Posición x"
      type="number"
      formControlName="x"
    >
  </mat-form-field>

  <mat-form-field class="formItem">
    <input
      matInput
      placeholder="Posición y"
      type="number"
      formControlName="y"
    >
  </mat-form-field>
</div>
