form {
  width: 100%;
  overflow: hidden;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
}

.formItem {
  width: 48%;
}
