div {
  width: 100%;
  min-height: 500px;
  height: 500px;
}

input {
  width: 100%;
  height: 100%;
}

::ng-deep .gridster-item {
  background: transparent !important;
}

gridster.mobile gridster-item {
  height: 30px !important;
}
